:root {
  --primary: rgb(81, 107, 252);
  --primary-dark: rgb(252, 187, 47);
  --primary-70: rgba(81, 107, 252, 0.7);
  --primary-50: rgba(81, 107, 252, 0.945);
  --primary-30: rgba(81, 107, 252, 0.3);
  --primary-10: rgba(81, 107, 252, 0.1);
  --logo: rgb(111, 119, 243);
  --sidebar-icon: #FFDB3C;
}

.bg-grad-sidebar {
  background-image: -webkit-gradient(linear,
      left bottom,
      left top,
      from(rgb(226, 162, 24)),
      to(#3c4655));

  background-image: linear-gradient(0deg, rgb(33, 33, 34), rgb(95, 94, 95));
}